---

---

<div class="magenta-circle"></div>

<style>
  .magenta-circle {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: var(--magenta);
    border-radius: 50%;
  }
</style>